.table-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 70vh;
}

.table-heading {
  font-size: 16px;
  font-weight: bolder;
}

.cell-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 8px 0px;
  max-width: 240px;
}

.primary-cell {
  font-weight: bold;
}


::ng-deep .mat-mdc-paginator .mat-mdc-icon-button {
  color: var(--primary-color);
  transition: background-color 0.3s ease-in-out;
  border-radius: 50%;
}

::ng-deep .mat-mdc-paginator .mat-mdc-icon-button:hover {
  background-color: var(--tum-acordion-blue);
  border-radius: 50%;
}
