services:
  nginx-proxy:
    image: ghcr.io/ls1intum/custom-openresty:latest
    container_name: nginx-proxy
    ports:
      - "443:443"
    volumes:
      - type: bind
        source: /var/lib/rbg-cert/2024-10-31T11:10:43+01:00
        target: /etc/ssl/certs
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/conf.d/default.conf
    networks:
      - angelos-network

networks:
  angelos-network:
    external: true