<div class="full-screen-container" (click)="onContainerClick()">
  <mat-card class="dialog-card" (click)="onDialogClicked($event)">
    <!-- Title -->
    <div class="dialog-title">
      <h2>{{ title }}</h2>
    </div>

    <!-- Loading Overlay (optional) -->
    <app-loading-container *ngIf="loading" [text]="title" class="overlay-loading-container"></app-loading-container>

    <!-- Projected Form Content -->
    <mat-card-content class="scrollable-content">
      <ng-content></ng-content>
    </mat-card-content>

    <!-- Dialog actions -->
    <mat-dialog-actions align="end">
      <button mat-button class="cancel-button" (click)="onCancel()">
        Abbrechen
      </button>
      <button mat-raised-button class="confirm-button" color="primary" (click)="onSaveClicked()"
        [disabled]="disableSave">
        {{ confirmButtonText }}
      </button>
    </mat-dialog-actions>
  </mat-card>
</div>